/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';

.content-background {
  --background: #2e8b57; // Verde más oscuro y apagado (SeaGreen)
  background-color: var(--background);
}

ion-header, ion-toolbar {
  --background:#3cb371; /* Verde mucho más oscuro */
  background-color: var(--background);
  color: white;
}
ion-toolbar ion-title {
  text-align: center;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
}

.custom-spinner-class {
  --background: transparent;
  background-color: transparent !important;
  box-shadow: none !important;
}

ion-loading.custom-spinner-class .loading-wrapper {
  background: transparent !important;
  box-shadow: none !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); // Fondo semitransparente
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; // Asegura que esté encima de todo
  --color:  #3cb371;
}

.spinner-overlay ion-spinner {
  width: 50px;
  height: 50px;
}


ion-back-button {
  color: white;
  margin-right: 16px; // o el valor que necesites
}

.content-background {
  --background:  #2e8b57;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fab-button {
  --background: white;
  --color: #2e8b57;
}

.fab-icon {
  color: #2e8b57;
}


.no-images-message {
  background-color: white;
  color: #2e8b57; // Verde que estás usando
  text-align: center;
  padding: 2rem;
  font-size: 1.2rem;
  border-radius: 8px;
  margin: 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.fixed-fab {
  position: fixed;  /* Fix the button at the bottom-right of the screen */
  bottom: 20px;     /* 20px from the bottom */
  right: 20px;      /* 20px from the right */
  z-index: 1000;    /* Ensure it appears above other content */
}



// #3cb371
