<ion-header [translucent]="true">
  <ion-toolbar class="custom-toolbar">
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content-background login-content" [scrollY]="false">
  <div class="logo-overlay">
    <img src="/assets/icon-only.png" alt="App Icon" class="login-logo animate-icon" />
  </div>

  <div class="login-wrapper">
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()" novalidate class="login-form">
      <ion-item>
        <ion-label position="floating">Correo electrónico</ion-label>
        <ion-input formControlName="email" type="email"></ion-input>
      </ion-item>

      <ion-item class="ion-margin-top">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>

      <ion-button expand="block" type="submit" class="ion-margin-top" [disabled]="loginForm.invalid">
        Iniciar sesión
      </ion-button>
    </form>

    <div class="quick-access">
      <ion-row>
        <ion-col>
          <ion-button expand="block" fill="outline" (click)="fillTestUser1()">
            Usuario 1
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" fill="outline" (click)="fillTestUser2()">
            Usuario 2
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>

<div *ngIf="isLoading" class="spinner-overlay">
  <ion-spinner name="bubbles" ></ion-spinner>
</div>
