.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #2e8b57; // verde clarito
  padding: 16px;
  box-sizing: border-box;
  position: relative;
  text-align: center;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}



.login-content {
  --background: #2e8b57;
  display: flex;
  flex-direction: column;
  justify-content: center;   // centra vertical
  align-items: center;       // centra horizontal
  padding: 16px;
  height: 100vh;             // asegura altura total de pantalla
  box-sizing: border-box;
  text-align: center;
}


.logo-container {
  margin-bottom: 20px;
}

.login-logo {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.login-form {
  width: 100%;
  max-width: 400px;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

ion-item {
  --background: transparent;
  --highlight-color-focused: #2e8b57;
}

ion-label, ion-input {
  color: #333;
}

ion-note {
  font-size: 0.8rem;
}

ion-button {
  --background: #3cb371;
  --color: white;
}

.quick-access {
  margin-top: 30px;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;

  ion-row {
    justify-content: center;
    gap: 12px;
  }

  ion-col {
    flex: 1 1 auto;
    min-width: 100px;
  }
}

.icon {
  width: 120px;
  height: 120px;
  margin-top: 500px;
}

.login-content {
  position: relative; // importante para posicionar el logo encima
  padding-top: 120px; // espacio para el logo
}

.logo-overlay {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.login-logo {
  width: 100px;
  height: 100px;
  object-fit: contain;
  animation: bounceIn 1s ease-out;
}

@keyframes bounceIn {
  0% {
    transform: scale(0.3);
    opacity: 0;
  }
  50% {
    transform: scale(1.05);
    opacity: 1;
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}


.quick-access ion-button {
  --border-color: transparent;
  --color: white;
  --background: #3cb371;
  --background-hover: #00b359;
}